/*
 Theme Name:   Precious Lite Child
 Author:       Marco Del Bianco
 Template:     precious-lite
 Version:      1.0.0
*/
/* Generici */
body {background: linear-gradient(rgb(220,220,220),rgb(105,105,105));}
.scopri{background: red; color:white; padding:5px 10px;border-radius: 10px;}
.scopri a {font-size:15px;}
.scheda-evento a,.scheda-testo-bio a {color:white !important;}
a:hover {color:red !important;}
.main-container p{font-size:16px;font-weight: 700;}
.page-header, #sidebar, .entry-title{padding-top: 20px;}
.page-header{color:dimgrey;}
/* header */
html{margin-top: 0 !important;}
.header {padding: 0px;margin-top: 0px !important;}
.titolo h1{ color: white; font-size: 40px; padding: 0px; }
.header-inner{ min-height: 96px; }
#menu-menu-archivi{ margin: 0px; }
.logo{ max-width: 80px; max-height: 70px; margin-top: 0px; }
.nivo-caption p {font-size: 18px!important;}
/* home page */
.content-area{padding-top: 0px;}
.eventi, .film {padding: 30px;border-radius: 10px;}
.titolo-eventi,.titolo-film {background: crimson;color:white;border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 10px;}
.scheda-evento {border-radius: 10px; /*background: cornsilk*/;max-width: 95%;margin: auto;}
.scheda-evento p,.testo-scheda-bio{background: linear-gradient(	rgba(211,211,220,0.8),rgba(192,192,192,0.9) ); margin: 10px; padding:10px;border-radius: 10px;color:white;}
.sfondo-eventi, .sfondo-film {background: white;padding: 20px 0px;border-radius: 10px;}
.titolo-scheda {background: darkkhaki;border-top-right-radius:10px;padding: 5px;color:white;}
.scheda-testo-evento {border-top-right-radius:10px; border-bottom-right-radius:10px;}
.primo-evento, .secondo-evento {margin-bottom: 15px;}
.immagine-evento, .testo-evento{padding:5px;}
.immagine-evento {padding-right: 0;margin-right:0;}
.immagine-evento img{border-top-left-radius:10px; border-bottom-left-radius:10px; height: 240px;width:auto;}
.testo-evento {padding-left: 0;margin-left:0;}
.titolo-scheda-film{background: darkkhaki;margin: auto;border-radius: 10px;text-align: left;padding: 10px;color:white;}
.sfondo-film img {width:100%;margin: auto;}
.sfondo-film p {width:90%;margin: 20px auto;}
.custom-film {background: antiquewhite;padding:10px;margin: auto;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.custom-film .row {margin:0px;}
.custom-field-film {font-size: 16px;padding: 5px;width: 70%;margin: auto;border-radius: 10px;}
.custom-field-film p {margin: 0px;}
.button-film{display:none;}
.bio{max-width:1400px; margin: auto;}
.bio-statica{background: black;padding:40px;color:white;}
.bio-statica p {font-size: 20px;margin: auto;}
.thumbnail-bio{padding:0px;}
.scheda-testo-bio{background: white;padding:0px;margin:0px;}
.titolo-scheda-bio{background: darkkhaki;border-top-right-radius: 10px;border-top-left-radius: 10px;text-align: left;padding:10px;}
/* footer */
.logo-footer{background: url("comune.png") center no-repeat;width:50px;height:50px;}
.logo-footer{margin:auto;}
.mail p, .telefono p, .copywright p {font-size: 10px;text-align: center; margin: auto;}
/* Custom post singoli */
.entry-content, .custom-tags{border-radius: 10px;margin:10px;padding:20px;background-color: lightgray;}
.custom-tags{max-width: 80%;margin: auto;}
/* header media query */
@media screen and (min-width:770px){.nav ul li a{font-size: 20px;}}
@media screen and (min-width: 486px){.nav-mobile{display: none;}}
/* desktop */
@media screen and (min-width:1000px){
    .button-film {display: block;}
    .immagine-evento img{width:100%;}
}
/* non desktop */
@media screen and (max-width: 1199px){
    .main-container p{font-size:12px;}
}
/* tablet grandi */
@media screen and (max-width: 1199px) and (min-width: 720px){
    main{width:100vw;}
    .main-row{margin-left:-40px;width: 100vw;}
    .content-area{padding-top: 0px!important;}
    .nivo-caption p {font-size: 18px!important;}
}
@media screen and (max-width: 999px) and (min-width: 720px){
    .container{margin-left: 0px!important;margin-right:0px!important;width: 100vw!important;}
    .read-more{font-size: 10px!important;}
    .nivo-caption p {font-size: 15px!important;}
}
/* tablet */
@media screen and (max-width: 769px) and (min-width: 479px){
    .toggle{display:none !important;}
    .titolo h1 {font-size: 30px;}
    .nav{display:block !important;}
    .nav ul{background: none !important;}
    .header .header-inner .nav ul li{display: inline-block !important;border-top: 0px!important;}
    .header .header-inner .nav ul li a{font-size: 15px;}
    .top-bar p, a.read-more {display: block !important;}
    .top-bar a.read-more{font-size: 10px;font-weight: 700;}
    a.read-more {width: 30%; text-align: center;}
    .content-area{padding:0px!important;margin:0px!important;}
    .container{max-width:100%!important;}
    .nivo-caption p {font-size: 12px!important;}
}
/* intermedio */
@media screen and (max-width: 570px) and (min-width: 479px){
    .titolo h1 {font-size: 20px;}
    
}
/* mobile */
@media screen and (max-width: 479px){
    .slider-main{display: none;}
    .nav-mobile{background: rgb(161, 161, 161);};
    .nav-mobile .menu-menu-archivi-container { margin: 0 auto !important; background: #fff;}
    .nav-mobile .menu-menu-archivi-container ul{display: flex; flex-direction: row; justify-content: space-between; margin: auto !important;width: 80% !important;}
    .nav-mobile .menu-menu-archivi-container ul li{list-style: none;text-transform: uppercase; padding: 10px;font-weight: 700;}
    .nav-mobile .menu-menu-archivi-container ul li a{color: #fff;}
    .container {padding: 0px !important; max-width:100%!important;}
    .content-area {padding: 0px !important;}
    .secondo-evento,.terzo-evento{display:none;}
    .primo-evento{margin-bottom: 0px!important;}
}
/* tablet e mobile */
@media screen and (max-width: 767px){
    .immagine-evento img{width:100%;height:100%;}
    .titolo-scheda,.titolo-scheda-film,.titolo-scheda-bio{text-align: center;}
    .titolo-scheda,.titolo-scheda-bio{border-radius: 0px!important;font-size: 18px;}
    .titolo-eventi, .titolo-film {font-size: 20px;}
}  